.jumbotron{
  background-color: transparent;
  text-align: center;
}

.submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  /* background: #1E5372; */
  background: white;
  color: black;
  cursor: pointer;
  font-size: 12px;
}

.submit-btn:hover {
  background: #c561ae;
}

.race-boxes {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

 .race-boxes .race {
  font-size: 10pt;
  flex: 1 10%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 90%;
  color: black;
  text-align: center;
}

.race-boxes .race:hover {
  color: blue;
}

.race-container {
  margin: 0 auto;
  width: 80%;
  margin-top: 0%;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 3.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 10px;
  border: 25px solid #fff;
  /*margin-top: 0px;*/
  /*column-count: 2;*/
  /* border-bottom: 1px solid #ddd; */
}

.race-container .race {
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  width: 50px;
  color: black;
  text-align: center;
}

.race-container .left-half {
  background: white;
  flex-flow: row wrap;
  grid-column: 1;
  text-align: left;
}

.race-container .white {
  background: white;
  justify-self: left;
  grid-column: 2;
  font-size: 15pt;
}

.race-container .black {
  background: white;
  justify-self: left;
  grid-column: 3;
  font-size: 15pt;
}

.race-container .hispanic {
  background: white;
  justify-self: left;
  grid-column: 4;
  font-size: 15pt;
}

.race-container .asian {
  background: white;
  justify-self: left;
  grid-column: 5;
  font-size: 15pt;
}

.race-container .native {
  background: white;
  justify-self: left;
  grid-column: 6;
  font-size: 15pt;
}

.race-container .pacific{
  background: white;
  justify-self: left;
  grid-column: 7;
  font-size: 15pt;
}

.race .event, .race .header-lg {
  flex: 1 0 50%;
}

.race .header, .race .num, .race .votes {
  flex: 1 0 25%;
}

.question {
  font-size: 25px;
}

.answers {
  padding-top: 15px;
  font-size: 15pt;
  line-height: 1.5em;
}
