.box {
    height: auto;
    width: auto;
}

.search-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 10px;
}

.input-container .county-input {
  margin: 10px 0;
  width: 250px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.input-container .submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: #1E5372;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.input-container .submit-btn:hover {
  background: #c561ae;
}

.input-container .submit-btn:active {
  background: #d86bbe;
}

.input-sentence, .input-name {
    display:inline;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.county-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.county-container .county {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  padding: 0 10px;
}


.county .header, .county .event_type, .county .begin_date, .county .injuries_direct, .county .deaths_direct, .county .damage_property,
.county .damage_crops, .county .end_date {
  flex: auto;
  width: 16.67%;
}
