.summary {
  margin: 0 auto;
  width: 80%;
  height: 60%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 33% auto 33%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  align-content: space-around;
  grid-gap: 0.5rem;
}

.summary .item-1 {
  background-color: white;
  grid-column: 1;
  grid-row: 1;
  background-color: #f3f4f7;
}

.summary .item-2 {
  background-color: white;
  grid-column: 1;
  grid-row: 2/span 2;
  background-color: #f3f4f7;
}

.summary .item-3 {
  background-color: white;
  grid-column: 1;
  grid-row: 4/span 2;
  background-color: #f3f4f7;
}

.summary .item-4 {
  background-color: white;
  grid-column: 2;
  grid-row: 3;
  background-color: #f3f4f7;
}

.summary .item-5 {
  background-color: white;
  grid-column: 2;
  grid-row: 1;
  background-color: #f3f4f7;
}

.summary .item-6 {
  background-color: white;
  grid-column: 2;
  grid-row: 2;
  background-color: #f3f4f7;
}

.summary .item-7 {
  background-color: white;
  grid-column: 2;
  grid-row: 4/span 2;
  background-color: #f3f4f7;
}

.summary .item-8 {
  background-color: white;
  grid-column: 3;
  grid-row: 1/span 5;
  background-color: #f3f4f7;
}
