<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disaster Demographics</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/census.css" rel="stylesheet">
  </head>

  <body ng-controller="censusController">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
      <span class="navbar-brand center">Disaster Demographics</span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
          <a class="nav-item nav-link" href="/search">Search</a>
          <a class="nav-item nav-link" href="/county">County</a>
          <a class="nav-item nav-link active" href="/census">Census</a>
        </div>
      </div>
    </nav>

    <!-- User Content -->
    <br>
    <div class="h2">Census</div>
   <div class="container">
      <div class="jumbotron">
        <!--<div class="h5">Races</div>-->
        <!-- Display the Races -->
          <div class="dropdown-container">
            <select class="dropdown" id="typeDropdown" ng-model="selectedEventType" ng-options="e for e in event_types">
            <option value="" selected="selected">Choose an event type</option>
          </select>
          <button class="submit-btn" id="typeSubmitBtn" ng-click="showEvents()">Submit</button>
        </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="race-container">
          <div class="left-half">
          <div class="question">What's the average <font color="#c561ae">ethnic breakdown</font> of counties affected by this event type?</div>
          </div>
          <div class="white">
            <div class="header"><strong>White</strong></div>
            <div class="answers" ng-repeat="e in events">{{e[0]}}%</div>
          </div>
          <div class="black">
            <div class="header"><strong>Black</strong></div>
            <div class="answers" ng-repeat="e in events">{{e[1]}}%</div>
          </div>
          <div class="hispanic">
            <div class="header"><strong>Hispanic</strong></div>
            <div class="answers" ng-repeat="e in events">{{e[2]}}%</div>
          </div>
          <div class="asian">
            <div class="header"><strong>Asian</strong></div>
            <div class="answers" ng-repeat="e in events">{{e[3]}}%</div>
          </div>
          <div class="native">
            <div class="header"><strong>Native</strong></div>
            <div class="answers" ng-repeat="e in events">{{e[4]}}%</div>
          </div>
          <div class="pacific">
            <div class="header"><strong>Pacific</strong></div>
            <div class="answers" ng-repeat="e in events">{{e[5]}}%</div>
          </div>
        </div>

      </br>
        <div class="race-container">
          <div class="left-half">
          <div class="question">What's the <font color="#c561ae">income per capita</font> of counties affected by this event type?</div>
          </div>
          <div class="black">
            <div class="header"><strong>25th Percentile</strong></div>
            <div class="answers" ng-repeat="e in events">${{e[6]}}</div>
          </div>
          <div class="asian">
            <div class="header"><strong>50th Percentile</strong></div>
            <div class="answers" ng-repeat="e in events">${{e[7]}}</div>
          </div>
          <div class="pacific">
            <div class="header"><strong>75th Percentile</strong></div>
            <div class="answers" ng-repeat="e in events">${{e[8]}}</div>
          </div>
        </div>

    </br>
      <div class="race-container">
        <div class="left-half">
        <div class="question">What's the <font color="#c561ae">unemployment rate</font> of counties affected by this event type?</div>
        </div>
        <div class="black">
          <div class="header"><strong>25th Percentile</strong></div>
          <div class="answers" ng-repeat="e in events">{{e[9]}}%</div>
        </div>
        <div class="asian">
          <div class="header"><strong>50th Percentile</strong></div>
          <div class="answers" ng-repeat="e in events">{{e[10]}}%</div>
        </div>
        <div class="pacific">
          <div class="header"><strong>75th Percentile</strong></div>
          <div class="answers" ng-repeat="e in events">{{e[11]}}%</div>
        </div>
      </div>

  </br>
    <div class="race-container">
      <div class="left-half">
      <div class="question">What's the <font color="#c561ae">poverty rate</font> of counties affected by this event type?</div>
      </div>
      <div class="black">
        <div class="header"><strong>25th Percentile</strong></div>
        <div class="answers" ng-repeat="e in events">{{e[10]}}%</div>
      </div>
      <div class="asian">
        <div class="header"><strong>50th Percentile</strong></div>
        <div class="answers" ng-repeat="e in events">{{e[11]}}%</div>
      </div>
      <div class="pacific">
        <div class="header"><strong>75th Percentile</strong></div>
        <div class="answers" ng-repeat="e in events">{{e[12]}}%</div>
      </div>
    </div>
  </div>
    </div>
  </div>


    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
