County<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disaster Demographics: Search</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/county.css" rel="stylesheet">
  </head>

<body ng-controller="countyController">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-custom">
    <span class="navbar-brand center">Disaster Demographics</span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Dashboard</a>
        <a class="nav-item nav-link" href="/search">Search</a>
        <a class="nav-item nav-link active" href="/county">County</a>
        <a class="nav-item nav-link" href="/census">Census</a>
      </div>
    </div>
  </nav>

</br>
<div class="h2">County</div>
<div class="search-container">
  <div class="jumbotron">
    <div class="h5">Select a State and County (County is optional).</div>
    <br>
    <div class="input-container">
      <div class="dropdown-container">
        <class="h4">State: </class>
        <select class="dropdown" id="statesDropdown" ng-model="selectedState" ng-options="s for s in states" ng-change="selectedStateChanged()"></select>
        <class="h4">County (optional): </class>
        <select class="dropdown" id="countyDropdown" ng-model="selectedCounty" ng-options="c[0] for c in counties" style="text-transform:capitalize;"></select>
        <button class="submit-btn" id="countySubmitBtn" ng-click="submitCounty()">Submit</button>
      </div>
      <!-- <div class="input-container">
      <input type="text" ng-model="countyName" placeholder="Enter County Name" id="countyName" class="county-input"/>
      <button id="submitCountyBtn" class="submit-btn" ng-click="submitIds()">Submit</button>
    </div> -->
    <div class="county-container">
      <table id="countyResults" style="text-transform:capitalize; width:100%; table-layout: fixed; word-wrap: break-word;">
        <tr>
          <th>State</th>
          <th>County</th>
          <th>Begin Date</th>
          <th>End Date</th>
          <th>More Info</th>
        </tr>
        <tr ng-repeat="d in countyData">
          <td style="text-transform:capitalize">{{d[0]}}</td>
          <td style="text-transform:capitalize">{{d[1]}}</td>
          <td>{{d[2]}}</td>
          <td>{{d[3]}}</td>
          <!-- <div class="episode_id">{{d[4]}}</div> -->
          <!-- /episode#?ep_id=136052 -->
          <td><a href="/episode#?ep_id={{d[4]}}">{{d[4]}}</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- Include these before the end of body tag in every HTML file -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
